$icomoon-font-path: "fonts" !default;

$icon-angle-right: "\e907";
$icon-chevron-right: "\e908";
$icon-angle-left: "\e909";
$icon-chevron-left: "\e90a";
$icon-angle-down: "\e90b";
$icon-chevron-down: "\e90c";
$icon-angle-up: "\e90d";
$icon-chevron-up: "\e90e";
$icon-cog: "\e905";
$icon-gear: "\e905";
$icon-trash-o: "\e906";
$icon-folder-open: "\e900";
$icon-close: "\e901";
$icon-remove: "\e901";
$icon-times: "\e901";
$icon-eye-slash: "\e902";
$icon-pause: "\e903";
$icon-play: "\e904";

