$icomoon-font-family: "dsb-icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-copy: unquote('"\\e92c"');
$icon-angle-right: unquote('"\\e907"');
$icon-chevron-right: unquote('"\\e908"');
$icon-angle-left: unquote('"\\e909"');
$icon-chevron-left: unquote('"\\e90a"');
$icon-angle-down: unquote('"\\e90b"');
$icon-chevron-down: unquote('"\\e90c"');
$icon-angle-up: unquote('"\\e90d"');
$icon-chevron-up: unquote('"\\e90e"');
$icon-cog: unquote('"\\e905"');
$icon-gear: unquote('"\\e905"');
$icon-trash-o: unquote('"\\e906"');
$icon-folder-open: unquote('"\\e900"');
$icon-close: unquote('"\\e901"');
$icon-remove: unquote('"\\e901"');
$icon-times: unquote('"\\e901"');
$icon-eye-slash: unquote('"\\e902"');
$icon-pause: unquote('"\\e903"');
$icon-play: unquote('"\\e904"');

