@import "variables";

// Reset common properties that cause conflicts
@mixin reset() {
  border      : 0;
  box-shadow  : none;
  font        : $default-font;
  height      : auto;
  margin      : 0;
  max-height  : auto;
  max-width   : auto;
  min-height  : auto;
  min-width   : auto;
  padding     : 0;
  text-shadow : none;
  width       : auto;
}

@function light-theme($prop) {
  @return map-get($light-theme, $prop);
}

@function dark-theme($prop) {
  @return map-get($dark-theme, $prop);
}